@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Grand+Hotel&family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');

.logo{
    font-family: 'Grand Hotel', cursive;
    object-fit: contain;
}

.right_side{
    display: flex;
    align-items: center;
}

.profile_pic{
    height: 25px !important;
    width: 25px !important;
    margin-right: 10px;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}